**.directory

tripdo/.DS_Store

tripdo/application/cache/*
!tripdo/application/cache/index.html

tripdo/application/logs/*
!tripdo/application/logs/index.html

!tripdo/application/*/.htaccess

tripdo/composer.lock

tripdo/user_guide_src/build/*
tripdo/user_guide_src/cilexer/build/*
tripdo/user_guide_src/cilexer/dist/*
tripdo/user_guide_src/cilexer/pycilexer.egg-info/*
tripdo/vendor/
