@charset "utf-8";
/* CSS Document */
/******************************

[Table of Contents]

/*********************************
1. Offers
*********************************/



/*********************************
1. Offers
*********************************/
.section_title
{
	line-height: 1.1;
}
.offers
{
	margin-top: 114px;
	padding-top: 114px;
	width: 100%;
	padding-bottom: 114px;
}
.filtering_row
{
	margin-top: 90px;
}
.item_sorting
{
	display: inline-block;
}
.item_sorting > li
{
	display: inline-block;
	position: relative;
	width: 132px;
	height: 36px;
	line-height: 32px;
	cursor: pointer;
	border: solid 2px #dbdbdb;
	padding-left: 15px;
	padding-right: 7px;
	margin-right: 16px;
	font-size: 12px;
	font-weight: 500;
	color: #131a2f;
	margin-bottom: 10px;
}
.item_sorting li i
{
	float: right;
	line-height: 32px;
	font-size: 18px;
	color: #d0d0d0;
}
.item_sorting li ul
{
	display: block;
	position: absolute;
	right: 0;
	top: 120%;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.item_sorting > li:hover ul
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}
.item_sorting li ul li
{
	display: block;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}
.item_sorting li ul li span
{
	display: block;
	height: 36px;
	line-height: 36px;
	border-bottom: solid 1px #dddddd;
	color: #131a2f;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.item_sorting li ul li span:hover
{
	color: #b5aec4;
}
.item_sorting li ul li:last-child span
{
	border-bottom: none;
}
.item_sorting li span:nth-child(2)
{
	margin-left: 71px;
}
.items
{
	margin-top: 90px;
}
.item
{
	margin-bottom: 35px;
}
.item.box
{
	width: 50%;
	float: left;
}
.item_image
{
	width: 25%;
	float: left;
}
.item.box .item_image
{
	width: 50%;
}
.item_image img
{
	max-width: 100%;
}
.item_content
{
	width: 75%;
	padding-left: 29px;
	margin-top: -4px;
	float: left;
}
.item.box .item_content
{
	width: 50%;
}
.item_content ul
{
	margin-top: 13px;
}
.item_content ul li
{
	display: inline-block;
	font-size: 12px;
	color: #878c9b;
}
.item_content ul li:not(:last-of-type)::after
{
	content:'/';
	margin-left: 5px;
}
.item_price
{
	font-size: 14px;
	font-weight: 500;
	color: #131a2f;
}
.item_title
{
	font-size: 20px;
	font-weight: 500;
	color: #131a2f;
	margin-top: 1px;
}
.item_text
{
	color: #7d8293;
	font-size: 15px;
	line-height: 2;
	margin-top: 11px;
}
.item.box .item_text
{
	display: none;
}
.item_more_link
{
	margin-top: 28px;
}
.item_more_link a
{
	font-size: 12px;
	color: #131a2f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.item_more_link a:hover
{
	color: #fe3c52;
}
.rating
{
	margin-top: 11px;
}
.rating i
{
	font-size: 19px;
	margin-right: 4px;
	color: #878c9b;
}
.rating i:last-child
{
	margin-right: 0px;
}
.rating_1 i:first-child{color: #fa9e1b;}
.rating_2 i:first-child{color: #fa9e1b;}
.rating_2 i:nth-child(2){color: #fa9e1b;}
.rating_3 i:first-child{color: #fa9e1b;}
.rating_3 i:nth-child(2){color: #fa9e1b;}
.rating_3 i:nth-child(3){color: #fa9e1b;}
.rating_4 i:first-child{color: #fa9e1b;}
.rating_4 i:nth-child(2){color: #fa9e1b;}
.rating_4 i:nth-child(3){color: #fa9e1b;}
.rating_4 i:nth-child(4){color: #fa9e1b;}
.rating_5 i:first-child{color: #fa9e1b;}
.rating_5 i:nth-child(2){color: #fa9e1b;}
.rating_5 i:nth-child(3){color: #fa9e1b;}
.rating_5 i:nth-child(4){color: #fa9e1b;}
.rating_5 i:nth-child(5){color: #fa9e1b;}
.sorting_group_1
{
	float: left;
}
.sorting_group_2
{
	float: right;
}
.sorting_group_2 ul
{
	float: left;
}
.sorting_group_2 ul li
{
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	color: #9195a3;
	margin-right: 30px;
	line-height: 36px;
}
.sorting_group_2 ul li:last-child
{
	margin-right: 0;
}
.sorting_icons
{
	float: left;
}
.detail_view
{
	float: left;
	font-size: 20px;
	margin-right: 16px;
	margin-left: 36px;
	cursor: pointer;
}
.detail_view i
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.detail_view:hover i
{
	color: #fe3c52;
}
.box_view
{
	font-size: 20px;
	float: left;
	cursor: pointer;
}
.box_view i
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.box_view:hover i
{
	color: #fe3c52;
}
.pages
{
	margin-top: 49px;
}
.page
{
	display: inline-block;
}
.page a
{
	font-size: 15px;
	font-weight: 400;
	color: #131a2f;
}
.page.active a
{
	color: #fe3c52;
}

