
@charset "utf-8";
/* CSS Document */
/******************************

[Table of Contents]

/*********************************
1. News
2. Sidebar
3. Newsletter
4. Accordions
5. Tabs
6. Buttons
*********************************/

/*********************************
1. News
*********************************/

.news
{
	padding-top: 104px;
	padding-bottom: 120px;
}
.news_post
{
	
	margin-top: 5%;
	width: 100%;
	margin-bottom: 59px;
}
.news_post:last-child
{
	margin-bottom: 0;
}

.post_title h2
{
	
	font-size: 40	px;
	font-weight: 300;
	color: #131a2f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.post_title a:hover
{
	color: #fe3c52;
}
.post_meta
{
	margin-top: 12px;
}
.post_meta ul li
{
	display: inline-block;
	position: relative;
	font-size: 12px;
	font-weight: 600;
	color: #7d8293;
	text-transform: uppercase;
	padding-right: 26px;
}
.post_meta ul li::after
{
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	content: '|';
}
.post_meta ul li:last-child::after
{
	display: none;
}
.post_meta ul li a
{
	font-size: 12px;
	font-weight: 600;
	color: #7d8293;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.post_meta ul li a:hover
{
	color: #fe3c52;
}
.post_image
{
	margin-top: 28px;
}
.post_image img
{
	max-width: 100%;
}
.post_image_box
{
	display: block;
	position: absolute;
	right: 18px;
	bottom: 18px;
	width: 41px;
	height: 41px;
	line-height: 41px;
	font-size: 30px;
	font-weight: 400;
	color: #FFFFFF;
	background: #fe3c52;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.post_image_box:hover
{
	opacity: 0.8;
}
.post_text
{
	margin-top: 40px;
}
.post_text p:last-of-type
{
	margin-bottom: 0;
}

/*********************************
2. Sidebar
*********************************/

.sidebar
{
	margin-top: 114px;
	width: 100%;
}
.sidebar_search
{
	padding-top: 15px;
}
.sidebar_search_input
{
	height: 47px;
	width: 100%;
	background: transparent;
	padding-left: 20px;
	border: solid 2px #dbdbdb;
	outline: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_search_input:focus
{
	border: solid 2px #fe3c52;
}
.sidebar_search_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #9a9eab !important;
}
.sidebar_search_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #9a9eab !important;
}
.sidebar_search_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #9a9eab !important;
} 
.sidebar_search_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #9a9eab !important;
}
.sidebar_search_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #9a9eab !important;
}
.sidebar_featured
{
	
	margin-top: 85px;
}
.sidebar_featured_post
{
	margin-bottom: 26px;
}
.sidebar_featured_image
{
	width: 100%;
}
.sidebar_featured_image img
{
	max-width: 100%;
}
.sidebar_featured_title
{
	margin-top: 30px;
}
.sidebar_featured_title a
{
	font-size: 20px;
	font-weight: 400;
	color: #131a2f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_featured_title a:hover
{
	color: #fe3c52;
}
.sidebar_featured_meta
{
	margin-top: 8px;
}
.sidebar_featured_meta ul li
{
	display: inline-block;
	position: relative;
	font-size: 9px;
	font-weight: 500;
	color: #7d8293;
	text-transform: uppercase;
	padding-right: 18px;
}
.sidebar_featured_meta ul li::after
{
	display: block;
	position: absolute;
	top: 0;
	right: 6px;
	content: '|';
}
.sidebar_featured_meta ul li:last-child::after
{
	display: none;
}
.sidebar_featured_meta ul li a
{
	font-size: 9px;
	font-weight: 500;
	color: #7d8293;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_featured_meta ul li a:hover
{
	color: #fe3c52;
}
.sidebar_offers
{
	margin-top: 52px;
}
.sidebar_offer
{
	width: 100%;
	padding-top: 43px;
	padding-bottom: 97px;
	padding-left: 21px;
	padding-right: 21px;
	margin-bottom: 38px;
}
.sidebar_offer:last-child
{
	margin-bottom: 0;
}
.sidebar_offer_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.sidebar_offer_content
{
	background: rgba(254,60,82,0.79);
	color: #FFFFFF;
	padding-top: 21px;
	padding-left: 33px;
	padding-right: 30px;
	padding-bottom: 40px;
}
.sidebar_offer_destination
{
	font-size: 7px;
	font-weight: 600;
	text-transform: uppercase;
}
.sidebar_offer_percent
{
	font-size: 68px;
	font-weight: 100;
	line-height: 0.75;
	margin-top: 4px;
}
.sidebar_offer_title
{
	font-size: 18px;
	font-weight: 400;
	margin-top: 4px;
}
.sidebar_offer_text
{
	font-size: 9px;
	font-weight: 500;
	line-height: 1.77;
	text-align: center;
	margin-top: 8px;
}
.sidebar_offer_button
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -17px;
	width: 117px;
	height: 41px;
	background: rgba(19,26,47,1);
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_offer_button:hover
{
	background: rgba(19,26,47,0.8);
}
.sidebar_offer_button a
{
	display: block;
	line-height: 41px;
	font-size: 12px;
	font-weight: 500;
	color: #FFFFFF;
}
.sidebar_quote
{
	margin-top: 90px;
}
.quote_box
{
	width: 47px;
	height: 47px;
	background: #fe3c52;
	margin: 0 auto;
	text-align: center;
	line-height: 42px;
	color: #FFFFFF;
}
.quote_text
{
	font-size: 18px;
	font-style: italic;
	margin-top: 63px;
	color: #131a2f;
	padding-left: 15px;
	line-height: 1.66;
}
.quote_text span
{
	color: #fe3c52;
}

/*********************************
3. Newsletter
*********************************/

.newsletter
{
	padding-top: 108px;
	padding-bottom: 113px;
}
.newsletter_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.newsletter_title
{
	font-size: 40px;
	font-weight: 300;
	color: #FFFFFF;
	line-height: 1.1;
}
.newsletter_form_container
{
	margin-top: 53px;
}
.newsletter_input
{
	width: calc(100% - 180px);
	height: 56px;
	border: solid 2px rgba(255,255,255,0.5);
	outline: none;
	background: transparent;
	padding-left: 31px;
	color: #FFFFFF;
}
.newsletter_button
{
	width: 161px;
	height: 56px;
	vertical-align: top;
	cursor: pointer;
	border: none;
	outline: none;
	background: #fe364a;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_button:hover
{
	opacity: 0.8;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}


/*********************************
4. Accordions
*********************************/

.accordion_container
{
	margin-bottom: 20px;
}
.accordion_container:last-child
{
	margin-bottom: 0;
}
.accordion
{
	height: 53px;
	width: 100%;
	border: solid 2px #dbdbdb;
	background: #FFFFFF;
	padding-left: 20px;
	cursor: pointer;
	color: #131a2f;
	font-size: 15px;
	font-weight: 400;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion div
{
	max-width: 91%;
	overflow: hidden;
	white-space: nowrap;
}
.accordion.active
{
	background: #fe3c52;
	border: solid 2px #fe3c52;
	color: #FFFFFF;
}
.accordion:active
{
	background: #fe3c52 !important;
}
.accordion::after
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 13px;
	height: 100%;
	content: '+';
	font-size: 16px;
	color: #07122c;
	font-weight: 400;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active::after
{
	color: #FFFFFF;
	content: '-';
}
.accordion:hover
{
	background: #fe3c52;
	color: #FFFFFF;
	border: solid 2px #fe3c52;
}
.accordion:hover::after
{
	color: #FFFFFF;
}
.accordion_panel
{
	padding-left: 15px;
	padding-right: 15px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.accordion_panel p
{
	padding-top: 15px;
}
.accordion_panel p:last-of-type
{
	margin-bottom: 0;
}

/*********************************
5. Tabs
*********************************/

.tabs_container
{
	width: 100%;
}
.tabs
{
	width: 100%;
}
.tab
{
	height: 50px;
	background: transparent;
	font-size: 15px;
	color: #131a2f;
	font-weight: 400;
	line-height: 50px;
	flex-grow: 1;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab.active,
.tab:hover
{
	background: #fe3c52;
	color: #FFFFFF;
}
.tab_panels
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 2px #fe3c52;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tab_panel.active
{
	display: block !important;
}
.tab_panel_content p:last-of-type
{
	margin-bottom: 0;
}

/*********************************
6. Buttons
*********************************/
.buttons_container
{
	margin-top: 74px;
}
.button_1
{
	background: rgba(254,60,82,1);
	vertical-align: middle;
}
.button_2
{
	background: rgba(19,26,47,1);
	vertical-align: middle;
}
.button_3
{
	background: transparent;
	border: solid 2px rgba(254,60,82,1);
	vertical-align: middle;
}
.button_3 a
{
	color: rgba(254,60,82,1);
}
.button_4
{
	background: transparent;
	border: solid 2px rgba(19,26,47,1);
	vertical-align: middle;
}
.button_4 a
{
	color: rgba(19,26,47,1);
}
.button_1:hover
{
	background: rgba(254,60,82,0.8);
}
.button_2:hover
{
	background: rgba(19,26,47,0.8);
}
.button_3:hover
{
	background: rgba(254,60,82,0.8);
}
.button_3:hover a
{
	color: #FFFFFF;
}
.button_4:hover
{
	background: rgba(19,26,47,0.8);
}
.button_4:hover a
{
	color: #FFFFFF;
}
.elements_button
{
	margin-right: 17px;
	margin-bottom: 15px;
}